
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
	<head>
		<title>BlueFood</title>
		<meta charset="ISO-8859-1">
		<link rel="stylesheet" type="text/css" th:href="@{/css/bf_estiloSistema.css}">
		<script type="text/javascript" th:src="@{/js/script.js}"></script>
	</head>
	<body>
		<header>
			<div id="divLogotipoSistema">
				<span id="spanAuxiliarDeAlinhamentoVertical"></span>
				<a th:href="${link} == null ? @{/} : ${link}">
					<img th:src="@{/images/bf_logotipoSistema.png}" id="imgLogotipoSistema">
					
				</a>
			</div>
			<div id="divUsuarioLogado" th:if="${#authentication.principal != 'anonymousUser'}">
				<span th:text="'Olá, ' + ${#authentication.principal.usuario.nome} + '!'"></span>
			</div>	
		</header>
		<br><br>
		<!-- Cabeï¿½alho - Fim -->

		<div layout:fragment="content">
		
		</div>


		<!-- Rodapï¿½ - Inï¿½cio -->
		<br><br>
	</body>
</html>

